/*============ Contact Section ============*/

footer {
  background: url('../assets/images/ContactBg.jpg') no-repeat;
  /*background-color: #40474e;*/
  background-size: cover;
  color: white;
  
}
footer .row {
  background-color: rgba(57, 63, 70, 0.85);
  padding: 1rem 2rem 3rem;
  height: 100vh;
}
footer img {
  height: 2rem;
  margin: 1.5rem 0;
}
footer a{
  color: white;
}
footer .svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer .svg-inline--fa:hover{
  color: #1F7A8C!important;
} 
.contact-info{
  margin-top: 1.5rem; 
}
#rowbg {
  height: 100vh;
}
#contactHeader {
  color: #ffffff;
  text-transform: uppercase;
  margin: 1.5rem 0;
}
/*---- Start Contact Form ----*/
.form-group{
  margin-bottom: 1.3rem;
}
.form-control{
  background-color: #53595f;
  border: .15rem solid #666b71;
  color: white!important;
  font-size: 1.1rem;
  width: 80%;
}
.form-control:focus {
  background-color: #53595f;
  border: .15rem solid #666b71;
}
.form-group input::placeholder,
.form-group textarea::placeholder{
  color: #b2b5b8!important;
} 
input .btn {
  cursor: pointer;
}

hr.socket{
  border-top: .2rem solid #666b71;
  width: 100%;
}
#icons {
  height: auto;
  background: transparent;
  padding: 10px;
}
button.fa.rounded-pill {
  background-color:transparent;
  color: #ffffff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
button.fa.rounded-pill:hover {
background-color: #33CCFF;
box-shadow: 0px 15px 20px ;
color: #ffffff;
transform: translateY(-7px);
}
