.editProfile {
  width: 35%
  

}  
  .profilebody {
    background-color: #8e8e90;
    text-align: -webkit-center;
    align-items: center;
    font-family:  'Source Sans Pro', sans-serif;
    font-weight: bolder;
    border: .15rem solid #666b71;
    }

    a {
      align-items: center;
    }

   .input.form-control, input#email, input#password, 
    input#name, input#confirmPassword, input#DOB, 
    input#country.form-control {
    border: .15rem solid #666b71;
    background-color: white;
    color: black
    }

 .form-control {
   color: black !Important;
    width: 100%;
    transition: none;
  
  }
  
  .input {
    background-color: white;
  }
  Label {
      color:black;
  }

  Table {
    font-weight: bolder;
     
  }
  #editbtn {
    margin-bottom: 20px;
    border: 30px;
    margin-left: 0px;
    align-items: flex-start;
  }

Buttons {
  margin: 0 auto;
  justify-content: center;
}



 @media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
}


@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}
  