form.mx-auto {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 37em;
  width: 25em;
  padding: 25px;
}

div.container {
  padding: 1.5em;
}
div.cardbody {
  padding: 1.25em;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#headerTitle {
    padding-bottom: 1em;
    margin-bottom: 1.5em;
}

.container input,
input#emailtxt,
input#passwordtxt,
input#nametxt {
  box-shadow: none !important;
  border: none;
  border-bottom: 2px solid lightgray;
  color: black;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  color: #212529!important;
  background-color: white;
}

#cardBody {
  height:  36em;
  width: 25em;
}

#formbtn {
  border-radius: 2.5em;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 100%;
  opacity: 0.9;
  background: rgb(60,61,65);
  background: linear-gradient(7deg, rgba(60,61,65,0.45702030812324934) 0%, rgba(255,218,25,0.927608543417367) 100%);
}

#formbtn:hover {
  opacity: 1;
  color:black;
  background: rgb(68,61,189);
  background: linear-gradient(31deg, rgba(51, 227, 255 ,0.5690651260504201) 0%, rgba(255,218,25,0.8827906162464986) 100%);
}

#option{
  font-weight: 600;
  font-size: 13px;
}

@media (max-width: 575.98px) {
  form#cardBody.mx-auto{ 
      height: auto;
      width: auto;
  }
  div.justify-content-center.container{
    height: 100vh;
  }
}
@media (min-width: 768px) {
  div.justify-content-center.container{
    height: 100vh;
  }
}
@media only screen 
and (max-width: 890px)
and (orientation: landscape){
div.justify-content-center.container{
  height: 100%;
  width: auto;
}
}
@media only screen 
and (min-width: 1000px)
and (orientation: landscape){
div.justify-content-center.container{
  height: 100vh;
  width: auto;
}
} 
