/* ----- Page Display Container ----*/
div.main-display-container{
  height: 100%;
}
div.body {
  height: 100%;
}
.main-display-container {
  padding-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  min-height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(69,69,69,1) 100%);
  }
.top-page-display-container {
  width: 100%;
  margin-top: 2rem;
  margin-left: 2rem;
}

.img-and-username-container {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  flex-wrap: wrap-reverse;
}

/*-------- Profile Image -------*/

.profile-img-container {
  height: 13rem;
  width: 13rem;
  min-width: 13rem;
  max-width: 13rem;
  background-color: #d4c81b1e;
  border-radius: 50%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 0;
  border-radius: 50%;
  box-shadow: 3px 3px 4px 4px #313438b9;
}

.profile-img img {
  width: 15rem;
  height: 13.5rem;
}

.change-profile-img {
  background-color: rgb(39, 39, 39);
  opacity: 0.7;
  height: 7rem;
  width: 15rem;
  position: absolute;
  top: 80%;
  right: 0%;
}

.change-profile-img a {
  text-align: center;
  opacity: 0.9;
  color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.change-profile-img a:hover {
  opacity: 1;
}

.username-title {
  font-size: 1.7rem;
  margin-left: 2rem;
  color: white;
}

.username-title p {
  margin: 0;
  font-size: 1.3;
}

.nav {
  flex-wrap: nowrap;
}

.profile-nav-tabs {
  background-color: none;
}

.nav-tabs .nav-link {
  border: none;
  color: white;
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  padding: 10px 50px;
}

.nav-tabs .nav-item {
  margin: 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: transparent;
  color: white;
  border-width: 2px;
  border-bottom: 2px white solid;
  width: 100%;
  display: flex;
}

.nav-link:hover {
  color: #d4c81b;
}

.spotify-login-btn {
  margin: 3em 0em 3em 3em;
  border-radius: 25px;
  padding: .5em 1em;
  font-size: 1.25em;
  background-color: #1DB954;
  border: none;
  transition: .15s;
}

.spotify-login-btn:hover {
  background-color: rgba(29, 185, 84, 0.678)
}

.songs {
  padding: 1rem;
  color: white;
  border-bottom: 1px #888 solid;
  font-size: 1.0rem;
  letter-spacing: 2px;
}

.song {
  color: white;
  padding: 1rem;
}

.user-songs {
  flex-wrap: nowrap;
}

.col-sm-4 {
  padding: 0;
}

.col-sm-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#playlist-row{
  flex-wrap: wrap;
}
#playlist-box-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.playlist-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
  margin: 1rem;
  height: 200px;
  width: 200px;
}

.playlist-title {
  color: white;
  font-size: 1.0rem;
  letter-spacing: 1.5px;
}

.card {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #f1f1f1;
}

.profile-btn {
  width: 20%;
}

.profile-tabs {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 3rem;
}

.profile-tabs a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.profile-tabs a:hover {
  color: #f1f1f1;
}

.tabs-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: #d4c81b;
  margin: 0 auto;
  margin-bottom: 2rem;
  transition: 0.3s;
}

/*-------- Custom Scroll Bar -------*/

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: 111;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Devices under 576px (sm) */

@media (max-width: 575px) {
  .nav-tabs .nav-link {
    border: none;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    margin-bottom: 2rem;
    padding: 10px 15px;
  }
  .profile-img-container {
    height: 7rem;
    width: 7rem;
    min-width: 7rem;
    max-width: 7rem;
    align-items: flex-start;
  }
  .main-display-container{
    padding: 0;
    height: 100%;
  }
  .nav-tabs {
    border-bottom: 0;
  }
  .row{
    flex-wrap: inherit;
  }
  .username-title{
    margin-left: 1em;
    font-size: 1rem;
  }
  .username-title h1{
    font-size: 1.2rem;
  }
  .song{
    padding: 0;
  }
  .songs{
    padding: 0;
    width: 9.6em;
  }
  
}
