

.placeholder {
  color: white;
} 
  
  .body {
    padding: auto;
    padding-top: 5rem;
    background-color: #8e8e90;
    font-family:  'Source Sans Pro', sans-serif; 
    font-weight: bolder;
    align-items: center;
  }
  .input {
    background-color: white;
  }

 
  Table {
    font-weight: bolder; 
  }

  .form-group {
    align-items: center;
  }


@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
}


@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}
  