.login-form {
    background-color: #383838;
    padding: 2.5em 3em;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.login-form button {
    margin: 0 auto;
    margin-top: 2em;
    width: 50%;
    padding: .5em;
    font-size: .9em;
    background: #ffda15;
    border: none;
    border-radius: 2px;
}

input:nth-child(2) {
    margin-bottom: 1em;
}

label {
    margin-bottom: 5px;
    color: white;
}