.postform-container{
    width: 50%;
    min-width: 300px;
    margin-left: 0;
}
#formbtn-post{
    width: 25%;
    min-width: 100px;
    background-color: transparent;
}
#formbtn-post:hover{
    background-color: #d4c81b;
}

