<<<<<<< HEAD
=======
.App {
  background-color: #fafafa;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  position: absolute;
  top: 0;
  left: 1em;
  width: 275px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav img {
  height: 75px;
}

.spotify-login-btn {
  padding: 1em;
  font-size: 1.25em;
  font-weight: 500;
  border-radius: 20px;
  background: #1DB954;
  border: none;
}

.spotify-login-btn:hover {
  background: rgb(73, 185, 112);
}

.spotify-login-btn:active {
  font-size: .98em;
}

a {
  color: #777777;
  text-decoration: none;
}
>>>>>>> 8eb735b19e4dd3ccff047263b57bfe3b0a5d534e
