.navbar { 
    padding: 0.7rem 1rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    transition: background-color 0.5s ease 0s; 
    height: 5rem;
}



.navbar-collapse{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 9999;
}


.bg-light{
  background-color: #121316 !important;
}

label.mr-sm-2 {
    color: #ffda15;
}

.logoicon{
    height: 5rem;
    width: auto;
}

a.name{
  color: #616163;
  padding-top: 0.8rem;
  padding-left: 0.7rem;
  transition: color 0.3s ease 0s;
}
  a.name:hover{
    color: #e0e0e0;
  }
  a.nav-link {
    color: #616163 !important;
    padding-top: 0.8rem;
    padding-left: 2.7rem !important;
    transition: color 0.3s ease 0s;
  }
  a.nav-link.active,
  a.nav-link:hover {
    color: #ffda15 !important;
  }

  @media (min-width: 992px){
  .navbar-expand-lg{
    padding-right: 0.5rem;
      padding-left: 0.5rem;
  }
  .navbar-nav{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  } 
  .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  }
  } 
  li.nav-item {
    margin: auto;
  }
  a {
    color: #616163 !important;
    padding-top: 0.8rem;
    padding-left: 2.7rem !important;
    transition: color 0.3s ease 0s;
    text-decoration: none;
    text-align: center;
  }
  a.active,
  a:hover {
    color: #ffda15 !important;
    text-decoration: none;
  }